body {
    font-family: Arial, sans-serif;
    background: burlywood;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: skyblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkcyan;
}